#TemperatureDetail{
	float: left;
	width: 45%;
	display: block;
}

/*Grid*/
#temperature-table{
	padding-bottom: 15%;
	float: left;
}

[class*="heading-"]{
	font-weight: bold;
	text-decoration: underline;
}

.row-temperature{
	text-align: center;
}

.row-error{
		font-weight: bold;
}


/*Original listing */
ul {
	padding:5px;
	list-style-type: none;
	background-color: #fafcfe;
	width: 45%
}

ul li {
	margin:5px;
	text-decoration: bold;
}

/*Temperature readings - color*/
.good {
	color: green;
}

.error, .danger {
	color: red;
}

.warning {
	color: orange;
}


/*other stuff*/
.display-previous{
	text-decoration: underline;
	color: #4e697a;
}


div#legend-key{
    width: 20%;
	padding: 5px;
    border: 2px solid #bcc4ca;
	background-color: #FBFDFE;
	border-radius: 12px;
}

div#legend-key .legend-title{
	text-align: center;
}

div#legend-key  div{
	display: inline;
}

div#legend-key div.legend-good-box{
    border: 5px solid green;
}

div#legend-key div.legend-warning-box{
    border: 5px solid orange;
}

div#legend-key div.legend-danger-box{
    border: 5px solid red;
}
